

/*doc
---
title: Colors
category: Global - Variables
name: variables
---


| Variable Name | Swatch |
|---------------|--------|
| primary    | <div style="background: #D45D43; height: 30px;"></div> |
| primary-light| <div style="background: #FFAAAA; height: 30px;"></div> |
| primary-dark| <div style="background: #550000; height: 30px;"></div> |
| secondary  | <div style="background: #ffe5c0; height: 30px"></div> |
| tertiary   | <div style="background: #FFF8DC; height: 30px"></div> |
| green      | <div style='background: #319b55; height: 30px'></div> |
| blue       | <div style='background: #2d6f84; height: 30px'></div> |
| black      | <div style="background: #222222; height: 30px"></div> |
| gray       | <div style="background: #555566; height: 30px"></div> |
| gray-light | <div style='background: #eeeeee; height: 30px'></div> |
| white      | <div style="background: #ffffff; height: 30px"></div> |
*/

$default-opacity: 0.6;
$colors: (
    primary: #D45A43,
    primary-light: #FFAAAA,
    primary-dark: #550000,
    secondary: #Ffe5c0,
    tertiary: #FFF8DC,
    green: #319b55,
    blue: #2d6f84,
    black: #222222, // #29261c,
    gray: #595959,
    gray-light: #EEEEEE,
    white: #FFFFFF,
);


/*doc
---
title: Link Colors
category: Global - Variables
---

| State   | Swatch | Example |
|---------|--------|---------|
| normal  | <div style='background: #D45a43; height: 30px'></div> | <div style='color: #D45a43'>Example</div> |
| :hover   | <div style='background: #F4826D; height: 30px'></div> | <div style='color: #F4826D'>Example</div> |
| :active  | <div style='background: #901F0A; height: 30px'></div> | <div style='color: #901F0A'>Example</div> |
| :visited | <div style='background: rgb(41, 38, 28); height: 30px'></div> | <div style='color: rgb(41, 38, 28)'>Example</div> |
| :focus   | <div style='background: #901f0A; height: 30px'></div> | <div style='color: #901f0A'>Example</div> |

*/

$link-colors: (
    normal: #D45A43,
    hover: #F4826D,
    active: #901F0A,
    visited: rgb(41, 38, 28),
    focus: #901F0A,
);

$susy: (
    global-box-sizing: border-box,
    columns: 12,
    gutters: 1/2,
    gutter-position: split,
    container: 960px,
);

$breakpoints: (
    phone: max-width 480px,
    tablet: 480px,
    window: 960px,
);

//
// Site variables
//
$container-width: 960px;
$sidebar-col-width: 3;
$article-page-width:  600px;
$module_pages: index, masthead, support, archive, issues, author, error, tags, search, article;
$default_border: 1px solid map-get($colors, gray);
$default-border-radius: 2px; // default for Compass border-radius mixin

// responsiveNav toggle element width caculated in span()
$menu-toggle-width: 25%;

