<div class='article-footer'>
    <h2>Have something to say?</h2>
    <p>Contrivers' Review doesn't publish comments, but we
    do publish Responses.</p>

    <p>A good response opens up a conversation about a piece of writing. It might
    question a particular framing, research perspective, or normative conclusion.
    It might draw on anecdotal personal experience or scholarly knowledge.
    Crucially, it engages the original essay or review in a honest and productive
    way.</p>

    <p>If you have something to say, email us at <a href="mailto:editors@contrivers.org">editors@contrivers.org</a>.
</div>
