{% extends 'layout.html' %}
{% from 'macros.html' import render_authors, render_title, render_reviewed_book, render_aside %}


{% block open_graph %}
    <!-- Article Specific Head -->
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ article.make_url() }}" />
    {% for author in article.authors -%}
    <meta property="article:author" content="{{ author.name }}" />
    {%- endfor %}
    <meta property="article:published_date" content="{{ article.publish_date.strftime("%Y-%m-%d %H:%M:%S") }}" />
{% endblock %}

{% block twitter_card %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter_name }}">
    <meta name="twitter:title" content="{{ article.title | truncate(70) }}">
    <meta name="twitter:description" content="{{ article.abstract | truncate(100) }}">
{% endblock %}

{% block stylesheets %}
{{ super() }}
    <link href="{{ url_for('static', filename='css/contrib/bigfoot/bigfoot.css') }}" media='screen, projection' rel='stylesheet' type='text/css' />
{% endblock %}

{% block title %} - {{ article.title }}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
{{ render_aside(article, site, request) }}
<div class='article-page layout'>


<article>
<div class='article-header'>
    {{ render_title(article, class='article-header-title') }}
    {% if article.book_reviewed is defined %}
    {{ render_reviewed_book(article.book_reviewed, amzn_tag=site.amzn_tag) }}{% endif %}
	{{ render_authors(article.authors, class='article-header') }}
</div>

<div class='article-body'>
{{ article.text | md | safe }}
</div>

{% include 'article-footer.html' %}
</article>

</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/bigfoot.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $.bigfoot(
    	{
            actionOriginalFN: "ignore",
    	}
    );

</script>
{% endblock %}

