{% extends 'layout.html' %}
{% from 'macros.html' import render_page_buttons %}

{% block title %} - Issues{% endblock title %}
{% block header %}{{ super() }}{% endblock %}

{% block content %}
<div id='content' class='issues-page page'>
{{ render_page_buttons(paginated, search=search ) }}
    <h1 class>Issues</h1>
<ul>
    {% for issue in paginated.items | sort(reverse=True) %}
<li>{{ loop.index }}. <a href='{{ url_for('www.issues', issue_id=issue.id) }}'>{{ issue.theme }}</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}
