{# http://flask.pocoo.org/docs/patterns/flashing/ #}
{% macro render_messages() %}
  <div class='flask-messages-container'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class='flashes'>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
  </div>
{% endmacro %}


{#
 # Author formating macros
 #
 # render_authors() => inline list for parent article blocks; handles mutiple authors
 # render_author_block() => block list of authors with childe article blocks
 #}

{%- macro render_author_block(author, show_articles=True, show_abstract=False, show_name=True) -%}
<div class='block__author'>
<div class='block__author-header'>
    {% if show_name %}<div class='author-name'>
      <a href='{{ author.url() }}'>{{ author.name }}</a>
    </div>{% endif %}
    {% if author.twitter %}<div class='author-twitter'><a href='http://www.twitter.com/{{ author.twitter }}'><i class="fa fa-twitter"></i></a></div>{% endif %}
    <div class='author-rss'><a href="{{ author.url() }}"><i class='fa fa-rss'></i></a></div>
    {% if author.bio %}<div class='author-bio'>{{ author.bio | md | safe }}</div>{% endif %}
</div>
    {% if show_articles %}
    <div class='block__author-divider'>&#9830;</div>
    <div class='author-articles'>
{{ render_articles(author.writing, show_abstract=show_abstract, show_author=False) }}
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_authors(authors, class='article-header') -%}
<div class='{{ class }}-attribution'>by&nbsp;
{%- for author in authors -%}
    <a class='{{ class }}-author' href="{{ author.url() }}">{{ author.name }}</a>&nbsp;
{%- if loop.index <= loop.length-2 -%} &#44;&nbsp;
{%- elif loop.index == loop.length-1 -%} &amp;&nbsp;
{%- endif %}
{%- endfor -%}
</div>
{%- endmacro -%}


{#
 # Article Macros
 #
 # render_title() => return a link-wrapped title without h# tags
 # render_date() => return a <time>-wrapped and strftime-d date
 # render_article() => return an article div block with optional abstract, author, date, or other info
 #     - calls render_title, render_authors
 # render_articles() => take a list of articles and call render_article on all of them
 #}

{% macro render_tag_link(tag) -%}
<a href='{{ tag.url() }}'>{{ tag.tag }}</a>
{%- endmacro %}

{% macro render_title(article, class='') %}
<a href="{{ article.make_url() }}">{{ article.title }}</a>
{% endmacro %}

{% macro render_date(date) %}
<time datetime='{{ date.strftime('%Y-%m-%dT%H:%M') }}'>{{ date.strftime('%B %e, %Y') }}</time>
{% endmacro %}

{% macro render_article(article,
    show_abstract=True,
    show_author=True,
    show_date=True,
    show_issue=False,
    show_featured=True,
    show_tag=True) %}
<div class='block'>
  <div class='block-header'>
    {% if show_issue and article.issue %}<div class='block-header-button__issue'><a href='{{ url_for('www.issues', issue_id=article.issue.id) }}'>{{ article.issue.theme }}</a></div>{% endif %}
    {% if show_date %}<div class='block-header-button'>{{ render_date(article.publish_date) }}</div>{% endif %}
    {% if article.featured and show_featured %}<div class='block-header-button__featured'><a href='{{ url_for('www.featured') }}'>Featured</a></div>{% endif %}
    <div class='block-header-title'>{{ render_title(article) }}</div>
    {% if show_author -%}{{ render_authors(article.authors, class='block-header') }}{%- endif %}
  </div>
  {% if show_abstract -%}<div class='block-abstract'>{{ article.abstract | md | safe }}</div>{%- endif %}
  {% if show_tags %}
  <div class='block-article-tags'>
  {% for tag in article.tags %}{{ render_tag_link(tag) }}{% endfor %}
  </div>
  {% endif %}
</div>
{%- endmacro %}

{% macro render_articles(article_list,
    show_abstract=True,
    show_author=True,
    show_date=True,
    show_featured=False,
    show_issue=True,
    show_tag=False,
    sort_by='publish_date',
    class='') %}
{# for article in article_list | sort(attribute=sort_by) | reverse #}
{% for article in article_list %}
{% if not article.hidden %}
{{ render_article(article, show_abstract=show_abstract, show_author=show_author, show_date=show_date, show_issue=show_issue, show_tag=show_tag) }}
{% endif %}
{% endfor %}
{% endmacro %}

{#
 # Book Review Block
 #
 # Note: because macros don't have access to the global context,
 # amzn_tag should be passed in from the main template.
 #}
{% macro render_reviewed_book(books, amzn_tag='') %}
<div class='reviewed-book reviewed-book-title-header'>A review of
    {% for book in books %}
    <span class='reviewed-book-title'><a href='http://www.amazon.com/dp/{{ book.isbn_10 }}/?tag={{ amzn_tag }}'>{{ book.title }}</a></span>{% if book.subtitle is not none %}<span class='reviewed-book-colon'>:</span> <span class='reviewed-book-subtitle'>{{book.subtitle}}</span>{% endif %} by <span class='reviewed-book-author'>{{ book.author }}</span> <span class='reviewed-book-biblio'>({{ book.publisher }}: {{ book.city}}, {{ book.year }})</span>
    {% endfor %}
</div>
{% endmacro %}


{#
 # Issue formating macros
 #
 # render_issue_title() => return a div + link wrapped Issue title
 # render_issue() => return an issue block with articles
 # render_issues
 #}

{% macro render_issue_title(issue) %}
<h1 class='block-header-title__issue'><a href='{{ url_for('www.issues', issue_id=issue.id) }}'>Issue {{ issue.issue_num }}: {{ issue.theme }}</a></h1>
{% endmacro %}

{% macro render_issue(issue, show_articles=True) %}
<div class='block__issue'>
    {{ render_issue_title(issue) }}
    {% if show_articles %}
    {% for article in issue.articles | sort(attribute='publish_date') %}
{{ render_article(article, show_issue=False) }}
    {% endfor %}
    {% endif %}
</div>
{%- endmacro %}

{% macro render_issues(issue_list, show_articles=True) %}
{% for issue in issue_list | sort(attribute='issue_num', reverse=True) %}
{{ render_issue(issue, show_articles=show_articles) }}
{% endfor %}
{% endmacro %}


{# Simple button style pagination #}
{% macro render_page_buttons(pagination=None, endpoint=None, search=None) %}
<div class='pagination'>
{% if pagination.has_prev %}<a href="{{ url_for(endpoint, page=pagination.prev_num) }}" class="pagination-element__prev"><i class='fa fa-angle-left'></i></a>{% else %}<span class='pagination-element__prev disabled'>&nbsp;</span>{% endif %}
<form class='pagination-element__search' method="Post" action="/search/">
{{ search.csrf_token }}
{{ search.search_term(size=50, placeholder='Search Articles') }}
</form>
{% if pagination.has_next %}<a href="{{ url_for(endpoint, page=pagination.next_num) }}" class="pagination-element__next"><i class='fa fa-angle-right'></i></a>{% else %}<span class='pagination-element__next disabled'>&nbsp;</span>{% endif %}
</div>
{% endmacro %}

{% macro render_search(results) %}
    <ol>
    {% for article in results %}
    <li class='search-result-block'><p>
            {{ render_title(article) }}
            <span class='article-authors'>{{ render_authors(article.authors) }}</span>
            <span class='article-date'>{{ render_date(article.publish_date) }}</span>
            </p>
        </li>
    {% endfor %}
    </ol>
{% endmacro %}

{% macro render_announcements(announce, class='') %}
{% if announce != '' %}
<div class='announcement {{ class }}'>{{ announce | md | safe }}</div>
{% endif %}
{% endmacro %}

{% macro twitter_share_message(article) %}
Currently reading {{ article.title }}.
{% endmacro %}

{% macro instapaper_link(request, article) %}
http://www.instapaper.com/hello2?url={{ request.url | urlencode }}&title={{ article.title | urlencode }}&description={{ article.abstract | md | urlencode }}
{% endmacro %}

{% macro render_aside(article, site, request) %}
<div class='article-menu'>
    <ul class='dropdown-menu'>
{% if article.issue %}
        <li><a href="{{ url_for('www.issues', issue_id=article.issue.id, page=1) }}">Issue: {{ article.issue.theme }}</a>
            <ul>
{% for issue_article in article.issue.articles %}
{% if article.id != issue_article.id %}
                <li>{{ render_title(issue_article) }}</li>
{% endif %}{% endfor %}
            </ul>
        </li>
{% endif %}
{% if article.responses %}
        <li>Responses
            <ul>
                {% for response in article.responses %}
                <li>{{ render_title(response) }}</li>
                {% endfor %}
            </ul>
        </li>
{% endif %}
{% if article.respondees %}
        <li>Respondees
            <ul>
                {% for respondee in article.respondees %}
                <li>{{ render_title(respondee) }}</li>
                {% endfor %}
            </ul>
        </li>
{% endif %}
        <li class='article-menu__icon'><a class="twitter-share-button" href="https://twitter.com/share?url={{ request.url }}&via={{site.twitter_name }}&text={{ twitter_share_message(article) | urlencode }}" alt="Share on Twitter" ><i class="fa fa-twitter"></i></a></li>
        <li class='article-menu__icon'><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url }}" target="_blank" alt="Share on Facebook"><i class="fa fa-facebook"></i></a></li>
        <li class='article-menu__icon'><a href='{{ instapaper_link(request, article) }}' alt="Read Later on Instapaper"><i class='fa fa-instapaper'></i></a></li>
    </ul>
</div>

{% endmacro %}


