{% extends 'layout.html' %}
{#
 # Page Template 
 # 
 # Take a list of models and print them out. Should be 
 # able to be agnostic about the model itself.
 #}
{% from 'macros.html' import render_articles, render_issues, render_page_buttons, render_tags, render_issue %}

{% block title %} - {{ page_type | capitalize }}{% endblock title %}
{% block header %}{{ super() }}{% endblock %}

{% block content %}
<div id='content' class='{{ page_type }}-page'>
{% if paginated is defined and paginated.items | length > 1 %}
{{ render_page_buttons(paginated, endpoint, search) }}
{% endif %}

{% if page_type == 'archive' %}
{{ render_articles(paginated.items) }}

{% elif page_type == 'issues' %}
{% if paginated is defined %}
{{ render_issues(paginated.items) }}
{% elif issue is defined %}
{{ render_issue(issue, show_articles=True) }}
{% endif %}

{% elif page_type == 'authors' %}
    {% if paginated is defined and paginated.items | length > 1 %}
    {% for author in paginated.items | sort(attribute='order', reverse=True)%}
    {{ render_author_block(author, show_articles=False) }}
    {% endfor %}
    {% elif paginated is defined and paginated.items | length == 1 %}
    {{ render_author_block(author, show_articles=True) }}
    {% elif author is defined %}
    {{ render_author_block(author, show_articles=True) }}
{% endif %}


{% endif %} 



</div><!-- end #content.{{ page_type }}-page -->
{% endblock content %}
