{% extends 'layout.html' %}
{% from 'macros.html' import render_page_buttons, render_articles %}

{% block title %} - Categories{% endblock title %}
{% block header %}{{ super() }}{% endblock %}

{% block content %}
<div id='content' class='tags-page page'>

{{ render_page_buttons(paginated, '.search', search) }}
<h1 class='page-title'>Categories</h1>
{% for tag in paginated.items %}
<div class='block__tag'>
{{ loop.index }}. <a href="{{ url_for('www.tags', tag_id=tag.id) }}"> {{ tag.tag }}</a> [{{ tag.count }} articles]
</div>
{% endfor %}
</div>
{% endblock %}
